DB_USER=user
DB_PASS=pass
DB_NAME=app_order
DB_HOST=addr
DB_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=localhost:9091,localhost:9092
KAFKA_USER_CREATE_TOPIC=user.create
KAFKA_SEND_EMAIL_TOPIC=message.send.email
BILLING_SERVICE_URL=http://app-billing.default.svc.cluster.local:80
USER_SERVICE_URL=http://app-user.default.svc.cluster.local:80
